<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: I'm Beth Ann and I want to go on a nice hike!</p>
    </body>
</html>